[submodule "scripts/prismaCloud/apiExplorer"]
	path = scripts/prismaCloud/apiExplorer
	url = git@github.com:justyntemme/apiExplorer.git
[submodule "scripts/aws/deleteStaleResources"]
	path = scripts/aws/deleteStaleResources
	url = git@github.com:justyntemme/deleteStaleResources.git
