[submodule "scripts/prismaCloud/apiExplorer"]
	path = scripts/prismaCloud/apiExplorer
	url = git@github.com:justyntemme/apiExplorer.git
[submodule "scripts/aws/deleteStaleResources"]
	path = scripts/aws/deleteStaleResources
	url = git@github.com:justyntemme/deleteStaleResources.git
[submodule "scripts/prismaCloud/defenderRuntimeRules"]
	path = scripts/prismaCloud/defenderRuntimeRules
	url = git@github.com:justyntemme/defender-runtime-policies.git
[submodule "scripts/prismaCloud/pcsPostmanCollection"]
	path = scripts/prismaCloud/pcsPostmanCollection
	url = https://github.com/PaloAltoNetworks/pcs-postman.git
[submodule "scripts/prismaCloud/defenderBuilderCICDPipelines"]
	path = scripts/prismaCloud/defenderBuilderCICDPipelines
	url = git@github.com:justyntemme/defender-cicd
[submodule "scripts/prismaCloud/RQL2CSV"]
	path = scripts/prismaCloud/RQL2CSV
	url = git@github.com:PaloAltoNetworks/pc-rql-search.git
